
html,body{margin:0;padding:0;font-family:'Nanum Gothic','맑은 고딕',Malgun Gothic,'’돋움’',Dotum,AppleGothic,sans-serif;font-size:14px;color:#444;word-wrap: normal;word-break:keep-all;}

a{color: #333;text-decoration: none;}
a:hover{text-decoration:none;}

ul,ol{list-style:none;margin:0;padding:0;}
dl,dt,dd{margin:0;padding:0;}

table{border-spacing:0;border-collapse:collapse;}
table caption{display:none;}
table,th,td{margin:0;padding:0;line-height:2em;border:none;color:#444;word-wrap: normal;word-break:keep-all;}

form, fieldset, legend{margin:0;padding:0;border:0;}
fieldset legend{display:none;}
input, select, textarea{font-family:Nanum Gothic, gulim, dotum;font-size:12px;color:#333;vertical-align:middle;}
input[type=text]{border:1px solid #8FAABF;border-right:1px solid #8FAABF;border-bottom:1px solid #8FAABF;padding:3px 3px;height:24px;}
input[type=number]{border:1px solid #8FAABF;border-right:1px solid #8FAABF;border-bottom:1px solid #8FAABF;padding:3px 3px;height:16px;}
input[type=radio]{width:13px;height:13px;padding:0 0 1px 0;margin:0;}
input[type=checkbox]{width:13px;height:13px;padding:0;margin:0;}
input[type=text]:read-only {background:#E6E6E6;}
label.hidden{position:absolute;left:-10000em;top:-10000em;}
textarea{border:1px solid #8FAABF;padding:3px;}
textarea.none{border:0px solid #a0a0a0;border-right:0px solid #cccccc;border-bottom:0px solid #cccccc;padding:3px;}

select{border:1px solid #8FAABF;padding:1px;height:24px;}

button{padding:0;margin:0;border:none;font-family:NanumGothic, gulim, dotum;font-size:12px;cursor:pointer;}

h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-weight:normal;}

em{font-style:normal;}
p{margin:0;padding:0;}

img{vertical-align:top;border:none;}
img.event{cursor:pointer;}

iframe{margin:0;padding:0;border:none;}

hr{display:none;}

button{ border:0 none; background:none;font-family:'Nanum Gothic',sans-serif;}


/* common style **************************************** */
.clear{clear:both !important;}
.hide {position:absolute;left:-10000em;top:-10000em;overflow: hidden;width:1px;}
.blind{position:absolute;left:-10000em;top:-10000em;overflow: hidden;width:0px;}
.dnone { display:none; }
.pointer{cursor:pointer}
.overF{overflow:hidden}

.fL{float:left !important;}
.fR{float:Right !important;}

.link{color:#436ab3;text-decoration:underline;}

.graybox{border:1px solid #9e9e9e;background:#fafafa;padding:15px 20px;}

.bold{font-weight:bold;}


.font11{font-size:11px;letter-spacing:-1px;font-family:Dotum;}
.font12{font-size:12px !important;}
.font13{font-size:13px !important;}
.font13b{font-size:13px; font-weight:bold !important;}
.font14{font-size:14px !important;}
.font16{font-size:16px !important;}

.tl{text-align:left !important;}
.tc{text-align:center !important;}
.tr{text-align:right !important;}

.spacing0{letter-spacing:-1px;}

.dashed{ border-top:1px dashed #C4C4C4;}

.vm{vertical-align:middle !important;}
.vt{vertical-align:top !important;}
.ng{font-family:ng !important;}
.ngb{font-family:NanumGothicB !important;}
.ellipsis{display:inline-block;overflow:hidden;width:auto;vertical-align:middle;white-space:nowrap;text-overflow:ellipsis;}

.pd1{padding:1px !important;}
.pd2{padding:2px !important;}
.pd3{padding:3px !important;}
.pd4{padding:4px !important;}
.pd5{padding:5px !important;}
.pd6{padding:6px !important;}
.pd7{padding:7px !important;}
.pd8{padding:8px !important;}
.pd9{padding:9px !important;}
.pd10{padding:10px !important;}

.pdtb5{padding-top:5px !important;padding-bottom:5px !important;}

.pdt1{padding-top:1px !important;}
.pdt2{padding-top:2px !important;}
.pdt3{padding-top:3px !important;}
.pdt4{padding-top:4px !important;}
.pdt5{padding-top:5px !important;}
.pdt10{padding-top:10px !important;}
.pdt15{padding-top:15px !important;}
.pdt20{padding-top:20px !important;}
.pdt25{padding-top:25px !important;}
.pdt28{padding-top:28px !important;}
.pdt30{padding-top:30px !important;}
.pdt40{padding-top:40px !important;}
.pdt50{padding-top:50px !important;}

.pdr0{padding-right:0px !important;}
.pdr1{padding-right:1px !important;}
.pdr2{padding-right:2px !important;}
.pdr3{padding-right:3px !important;}
.pdr4{padding-right:4px !important;}
.pdr5{padding-right:5px !important;}
.pdr10{padding-right:10px !important;}
.pdr15{padding-right:15px !important;}
.pdr20{padding-right:20px !important;}
.pdr25{padding-right:25px !important;}
.pdr30{padding-right:30px !important;}
.pdr50{padding-right:50px !important;}
.pdr60{padding-right:60px !important;}
.pdr80{padding-right:80px !important;}

.pdb0{padding-bottom:0px !important;}
.pdb1{padding-bottom:1px !important;}
.pdb2{padding-bottom:2px !important;}
.pdb3{padding-bottom:3px !important;}
.pdb4{padding-bottom:4px !important;}
.pdb5{padding-bottom:5px !important;}
.pdb10{padding-bottom:10px !important;}
.pdb15{padding-bottom:15px !important;}
.pdb20{padding-bottom:20px !important;}
.pdb25{padding-bottom:25px !important;}
.pdb30{padding-bottom:30px !important;}
.pdb45{padding-bottom:45px !important;}

.pdl0{padding-left:0px !important;}
.pdl1{padding-left:1px !important;}
.pdl2{padding-left:2px !important;}
.pdl3{padding-left:3px !important;}
.pdl4{padding-left:4px !important;}
.pdl5{padding-left:5px !important;}
.pdl10{padding-left:10px !important;}
.pdl15{padding-left:15px !important;}
.pdl20{padding-left:20px !important;}
.pdl25{padding-left:25px !important;}
.pdl30{padding-left:30px !important;}
.pdl100{padding-left:100px !important;}

.mg0{margin:0px !important;}
.mg1{margin:1px !important;}
.mg2{margin:2px !important;}
.mg3{margin:3px !important;}
.mg4{margin:4px !important;}
.mg5{margin:5px !important;}
.mg6{margin:6px !important;}
.mg7{margin:7px !important;}
.mg8{margin:8px !important;}
.mg9{margin:9px !important;}
.mg10{margin:10px !important;}

.mgtm1{margin-top:-1px !important;}
.mgtm5{margin-top:-5px !important;}
.mgtm10{margin-top:-10px !important;}
.mgtm15{margin-top:-15px !important;}
.mgtm20{margin-top:-20px !important;}
.mgt0{margin-top:0px !important;}
.mgt1{margin-top:1px !important;}
.mgt2{margin-top:2px !important;}
.mgt3{margin-top:3px !important;}
.mgt4{margin-top:4px !important;}
.mgt5{margin-top:5px !important;}
.mgt6{margin-top:6px !important;}
.mgt7{margin-top:7px !important;}
.mgt8{margin-top:8px !important;}
.mgt9{margin-top:9px !important;}
.mgt10{margin-top:10px !important;}
.mgt15{margin-top:15px !important;}
.mgt20{margin-top:20px !important;}
.mgt25{margin-top:25px !important;}
.mgt30{margin-top:30px !important;}
.mgt40{margin-top:40px !important;}
.mgt45{margin-top:45px !important;}
.mgt50{margin-top:50px !important;}
.mgt60{margin-top:60px !important;}
.mgt80{margin-top:80px !important;}
.mgt100{margin-top:100px !important;}

.mgr0{margin-right:0px !important;}
.mgr1{margin-right:1px !important;}
.mgr2{margin-right:2px !important;}
.mgr3{margin-right:3px !important;}
.mgr4{margin-right:4px !important;}
.mgr5{margin-right:5px !important;}
.mgr6{margin-right:6px !important;}
.mgr7{margin-right:7px !important;}
.mgr8{margin-right:8px !important;}
.mgr9{margin-right:9px !important;}
.mgr10{margin-right:10px !important;}
.mgr15{margin-right:15px !important;}
.mgr20{margin-right:20px !important;}
.mgr25{margin-right:25px !important;}
.mgr30{margin-right:30px !important;}
.mgr60{margin-right:60px !important;}
.mgr70{margin-right:70px !important;}
.mgr80{margin-right:80px !important;}

.mgb0{margin-bottom:0px !important;}
.mgb1{margin-bottom:1px !important;}
.mgb2{margin-bottom:2px !important;}
.mgb3{margin-bottom:3px !important;}
.mgb4{margin-bottom:4px !important;}
.mgb5{margin-bottom:5px !important;}
.mgb6{margin-bottom:6px !important;}
.mgb7{margin-bottom:7px !important;}
.mgb8{margin-bottom:8px !important;}
.mgb9{margin-bottom:9px !important;}
.mgb10{margin-bottom:10px !important;}
.mgb15{margin-bottom:15px !important;}
.mgb20{margin-bottom:20px !important;}
.mgb25{margin-bottom:25px !important;}
.mgb30{margin-bottom:30px !important;}
.mgb40{margin-bottom:40px !important;}
.mgb45{margin-bottom:45px !important;}
.mgb50{margin-bottom:50px !important;}
.mgb80{margin-bottom:80px !important;}
.mgb100{margin-bottom:100px !important;}

.mgl0{margin-left:0px !important;}
.mgl1{margin-left:1px !important;}
.mgl2{margin-left:2px !important;}
.mgl3{margin-left:3px !important;}
.mgl4{margin-left:4px !important;}
.mgl5{margin-left:5px !important;}
.mgl6{margin-left:6px !important;}
.mgl7{margin-left:7px !important;}
.mgl8{margin-left:8px !important;}
.mgl9{margin-left:9px !important;}
.mgl10{margin-left:10px !important;}
.mgl15{margin-left:15px !important;}
.mgl20{margin-left:20px !important;}
.mgl25{margin-left:25px !important;}
.mgl30{margin-left:30px !important;}
.mgl40{margin-left:40px !important;}

.w10p{width:10px !important;}
.w20p{width:20px !important;}
.w30p{width:30px !important;}
.w40p{width:40px !important;}
.w50p{width:50px !important;}
.w60p{width:60px !important;}
.w70p{width:70px !important;}
.w80p{width:80px !important;}
.w90p{width:90px !important;}
.w100p{width:100px !important;}
.w110p{width:110px !important;}
.w120p{width:120px !important;}
.w130p{width:130px !important;}
.w140p{width:140px !important;}
.w145p{width:145px !important;}
.w150p{width:150px !important;}
.w160p{width:160px !important;}
.w170p{width:170px !important;}
.w180p{width:180px !important;}
.w190p{width:190px !important;}
.w200p{width:200px !important;}
.w210p{width:210px !important;}
.w220p{width:220px !important;}
.w230p{width:230px !important;}
.w250p{width:250px !important;}
.w280p{width:280px !important;}
.w285p{width:285px !important;}
.w290p{width:290px !important;}
.w300p{width:300px !important;}
.w350p{width:350px !important;}
.w400p{width:400px !important;}
.w450p{width:450px !important;}
.w500p{width:500px !important;}
.w530p{width:530px !important;}
.w550p{width:550px !important;}
.w580p{width:580px !important;}
.w600p{width:600px !important;}
.w700p{width:900px !important;}
.w750p{width:750px !important;}
.w800p{width:800px !important;}
.w850p{width:850px !important;}
.w900p{width:900px !important;}

.w20pc{width:20% !important;}
.w31pc{width:31% !important;}
.w40pc{width:40% !important;}
.w49pc{width:49% !important;}
.w50pc{width:50% !important;}
.w79pc{width:79% !important;}
.w80pc{width:80% !important;}
.w90pc{width:90% !important;}
.w98pc{width:98% !important;}
.w100pc{width:100% !important;}

.h80p{ height:80px !important;}
.h160p{ height:160px !important;}
.h260p{ height:260px !important;}
.h360p{ height:360px !important;}
.h460p{ height:460px !important;}
.h560p{ height:560px !important;}
.h660p{ height:660px !important;}

.mih100{ max-height:100px !important;}

.lh18{line-height:18px !important;}
.lh24{line-height:24px !important;}
.lh30{line-height:30px !important;}
.lh34{line-height:34px !important;}

.dpIB{ display:inline-block !important;}

/* color */
.color_r{color:#C60A0E !important;}
.color_rb{color:#C60A0E; font-family:NanumGothicB !important;}
.color_b{color:#02568D !important;}
.color_bb{color:#0072BC; font-family:NanumGothicB !important;}
.color_gr{color:#197B30 !important;}
.color_grb{color:#197B30; font-family:NanumGothicB !important;}
.color_v{color:#8560A8 !important;}
.color_g{color:#b56a00 !important;}
.cOrange {color:#ca4e00;}
.cDsky {color:#246FA5;}
.cDblue {color:#0e419c;}
.bg_01{background:#EEF1F7 !important;}
